body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
}

#navbar {
  position: fixed;
  width: 100%;
  background: #be3144;
  top: 0;
  height: auto;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 40px;

}

#navbar ul li {
  padding: 0 15px;
  list-style: none;
}

#navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 2px;


}

#navbar ul li a:hover {
  color: #45567d;
  font-weight: bold;
}



#welcome-section {
  height: 100vh;
  font-size: 2.8rem;
  background-color: #000;
  background-image: linear-gradient(45deg, #3a3d48 0%, #181719 100%);
  color: white;
  display: flex;
  flex-direction: column;

}

#welcome-section h1 {
  margin: auto auto 0 auto;

}

#welcome-section p {
  font-style: italic;
  font-weight: 300;
  color: #be3144;
  margin: 0 auto auto auto;


}



#projects {
  background: #45567d;
  padding: 40px;
}

#projects::before {
  content: "";
  display: block;
  height: 80px;
  /* fixed header height*/
  margin: -50px 0 0;
  /* negative fixed header height */
}

#projects h2 {
  margin: 0 0 30px 0;
  padding: 40px 0;
  color: white;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-decoration: underline;
}



.project-tile, #show-all {
  /* display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2%;
  text-align: center; */

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

#show-all {
  display: none;
}



img {
  max-width: 100%
}

.project-tile a, #show-all a {
  margin: 5px;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  background: #181719;
  flex: 0 0 calc(32% - 20px);
}

span {
  color: #181719;
  transition: all .4s ease-in-out;
  font-weight: bold;
}

#projects #show-btn {
  margin-top: 90px;
  border: none;
  width: 150px;
  height: 40px;
  font-size: 1.3rem;
  border-radius: 7px;
  color: white;
  background: #181719;
  transition: all .2s ease-in-out;
}

#projects #show-btn:hover {
  height: 45px;
  width: 140px;
  color: #181719;
  background: #be3144;
  font-weight: bold;


}


.project-tile a:hover span, #show-all a:hover span {
  color: #be3144;
  letter-spacing: 4px;
  transform: scale(1.2);
}

#contact {
  height: 90vh;
  background: #3a3d48;
  color: white;
  font-size: 3rem;

}

#contact h3 {
  margin: 0;
  padding: 10% 0 5% 0
}

#contact a, p {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 0 30px;
}

#footer {
  width: 100%;
  height: auto;
  border-top: 3px solid #be3144;
  margin-top: 130px;
  font-size: 1.5rem;
  text-align: center;
  padding: 20px 0;
  background: #3a3d48;

}


@media(max-width: 1000px) {
  .project-tile a, #show-all a {
    /* grid-template-columns: 50% 50%; */
    flex: 0 0 calc(50% - 20px);

  }

  #welcome-section {
    font-size: 2.3rem
  }
}

@media(max-width: 750px) {

  .project-tile a, #show-all a {
    /* grid-template-columns: 50% 50%; */
    flex: 0 0 calc(100% - 20px);

  }

  #welcome-section {
    font-size: 2rem
  }

  #navbar ul li {
    padding: 0 3px;
  }

  #navbar ul {
    justify-content: space-around;

  }


}

@media(max-width: 670px) {
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
}